.nav_panel {
  z-index: 1000;
  position: fixed;
  width: 100%;
  max-width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  justify-content: space-between;
  top: 0;
  left: 0;
  height: 3.9rem;

  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.nav_logo {
  padding: 0rem 1rem;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 15rem;
  /* max-height: 2.9rem; */
}

.hamburger_icon {
  padding: 0rem 1rem;
  display: flex;
  overflow: hidden;
  justify-content: center;
  align-items: center;
}
