/* Под мобильный телефон */
@media only screen and (max-width: 480px) {

  body {
    padding: 25% 1%;
  }

  :root {
    --1font_size: 0.6rem;
    --2font_size: 1rem; /* ОСНОВНОЙ РАЗМЕР */
    --3font_size: 1.2rem;
    --4font_size: 1.5rem;
  }

  .product_card {
    margin: 0.5rem;

    width: 10rem;
    height: 15rem;
  }

  .button_price_modal_card {
    height: 3rem;
  }

  .button_price_product_card {
    height: 2rem;
  }

  .button_open_site,
  .button_place_an_order,
  .button_to_cart {
    height: 3rem;
  }

  .button_clear_order_configurate,
  .button_clear_address,
  .button_clear_all {
    height: 3rem;
  }

  .modal_contact_info,
  .modal_delivery_area,
  .modal_shopping_cart,
  .modal_card {
    transform: translate(-50%, -60%);
    overflow: auto;
    display: flex;
    flex-direction: column;
    width: 95%;
    height: 35rem;
  }

  .short_address,
  .cutlery,
  .order_time,
  .payment_method,
  .phone_number {
    height: 3rem;
  }

  .total_cost {
    min-height: 3rem;
    margin: 0.5rem 0rem;
  }

  .button_open_cart {
    z-index: 1000;
    position: fixed;
    bottom: 10%;
    left: 0.5rem;

    width: 3.8rem;
    height: 3.8rem;

    backdrop-filter: blur(10px);

    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  }

  .delevery_map {
    display: flex;
    flex: 1;
    flex-direction: column;
    min-height: 10rem;
    background-color: black;
  }

  .full_address {
    display: grid;
    grid-template-columns: 1fr;

    transition: 0.3s;
    opacity: 1;
    pointer-events: all;
  }

  .grid_whole {
    grid-column: 1 span;
  }

  .grid_half {
    grid-column: 1 span;
  }

  .pickup,
  .input_entrance,
  .input_door_code,
  .input_floor,
  .input_apartment,
  .input_city_street_number,
  .input_address_comment {
    height: 3rem;
  }

  .structure_modal_card {
    flex: none;
    margin: 0.5rem 0rem;
  }

  .weight_modal_card {
    flex: none;
  }

  .compound_modal_card {
    flex: none;
  }

  .extra {
    flex: none;
    height: 12rem;
    display: flex;
    overflow: scroll;
    flex-direction: column;

    border-radius: 20px;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1366px) {
  .product_card {
    margin: 0.5rem;
    width: 16rem;
    height: 23rem;
  }
}
