.logo {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;

  user-select: none;
}

.title {
  font-size: 3rem;
}

.section {
  display: flex;
  /* justify-content: center; */
  flex-wrap: wrap;
}


