.product_card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  /* width: 27%; */
  /* max-width: 20rem; */
  /* min-width: 20rem; */
  /* height: 30%; */
  /* min-height: 10rem; */
  margin: 1rem;
  border-radius: 20px;
  border: 1px solid var(--general_border_color);

  width: 20rem;
  height: 30rem;
}

.img_product {
  display: flex;
  cursor: pointer;
  justify-content: center;
  overflow: hidden;
  border: 1px solid var(--general_border_color);

  height: 20rem;
  border-radius: 20px;
  transition: 0.1s;
}

.description_product {
  border: 1px solid var(--general_border_color);

  /* height: 40%; */
  margin: 1rem 1rem 0rem;
}

/* img {
  width: auto;
  height: auto;
} */

.img_product:hover {
  filter: brightness(110%);
}

.structure_product {
  height: 3rem;
  font-weight: 600;
}

.weight_product {
  height: 1.5rem;
  font-size: 1rem;
  color: var(--general_gray_font_color);
}

.button_price_modal_card,
.button_price_product_card {
  cursor: pointer;
  user-select: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  border-radius: 20px;

  height: 2.8rem;
  margin: 1rem 0rem;

  color: white;
  font-weight: 600;
  font-size: 1.5rem;
  background-color: var(--general_price_button_color);
}

.button_open_cart:hover,
.button_price_modal_card:hover,
.button_price_product_card:hover {
  filter: brightness(110%);
}

.button_open_cart:active,
.button_price_modal_card:active,
.button_price_product_card:active {
  filter: brightness(90%);
  /* transform: scale(0.9); */
}
