.topic_cart {
  margin: 0rem 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product_list,
.order_registration {
  flex: 1;
  margin: 0.5rem;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
}

.total_product {
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.product_info {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.product_extra {
  width: 95%;
  display: flex;
  flex-direction: column;
  margin-bottom: 0.5rem;
}
.product_extra_item {
  width: 100%;
  display: flex;
}

.product {
  display: flex;
  flex-direction: column;

  align-items: center;
  margin: 0.5rem;
  border-bottom: dashed 1px var(--general_border_color);
}

.product_name {
  flex: 1;
  font-weight: 500;
}

.product_price {
  font-weight: 500;
  font-size: var(--3font_size);
}

.short_address,
.cutlery,
.order_time,
.payment_method,
.phone_number {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: solid 1px var(--general_border_color);
  font-weight: 500;
  font-size: var(--3font_size);
  padding: 0rem 0.5rem;
  height: 4rem;
  margin: 0.5rem 0rem;
  border-radius: 20px;
  transition: 0.1s;
}

.short_address {
  cursor: pointer;
}

.head_order {
  display: flex;
  align-items: center;
}

#input_phone_number {
  border: none;
  color: var(--general_font_color);
  font-size: var(--3font_size);
  font-family: var(--general_font);
  font-weight: 500;
}

.section_comment_for_the_order {
  display: flex;
  flex-direction: column;
  border: solid 1px var(--general_border_color);
  height: 6.5rem;
  font-weight: 500;
  font-size: var(--3font_size);
  padding: 1rem 0.5rem 0.5rem 0.5rem;
  margin: 0.5rem 0rem;
  border-radius: 20px;
}

.comment_for_the_order {
  flex: 1;
  margin: 1px;
  border: none;
  resize: none;
  border-radius: 5px;
  font-weight: 500;
}

.comment_for_the_order:focus,
#input_phone_number:focus {
  outline: none;
}

.button_open_site,
.button_place_an_order,
.button_to_cart {
  margin: 0.5rem 0rem;
  border-radius: 20px;
  cursor: pointer;
  user-select: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-size: var(--3font_size);
  height: 2.8rem;
  color: white;
  background-color: var(--general_green_color);
  transition: 0.3s;
}

.button_to_cart.show {
  opacity: 1;
  pointer-events: all;
}

.button_to_cart.hide {
  opacity: 0;
  pointer-events: none;
}

.button_clear_order_configurate,
.button_clear_address,
.button_clear_all {
  border-radius: 20px;
  background-color: var(--general_red_color);
  font-size: var(--3font_size);
  color: white;
  font-weight: 500;
  height: 2.8rem;
  padding: 0rem 0.5rem;
  cursor: pointer;
  user-select: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button_delete {
  margin: 0.2rem 1rem;
  height: 1.5rem;
  width: 1.5rem;
  cursor: pointer;
  user-select: none;
  border-radius: 50%;
  background-color: var(--general_bg_color);
  display: flex;
  align-items: center;
  justify-content: center;
  object-fit: contain;
  overflow: hidden;
}

.remove_button,
.add_button {
  cursor: pointer;
  user-select: none;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.1s;
}

.remove_button:active,
.add_button:active {
  transform: scale(0.8);
}

.button_clear_order_configurate:hover,
.button_clear_address:hover,
.button_open_site:hover,
.button_place_an_order:hover,
.button_to_cart:hover,
.button_clear_all:hover,
.button_delete:hover {
  filter: brightness(90%);
}

.button_clear_order_configurate:active,
.button_clear_address:active,
.button_open_site:active,
.button_place_an_order:active,
.button_to_cart:active,
.button_clear_all:active,
.button_delete:active {
  filter: brightness(80%);
}

.total_cost {
  border: solid 1px var(--general_border_color);
  margin: 0.5rem;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-size: var(--3font_size);
  min-height: 4rem;
}

.configurate {
  height: 2.1rem;
  width: 8rem;
  background-color: var(--general_bg_color);
  user-select: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  border-radius: 20rem;
}

.count {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  color: var(--general_gray_font_color);
  font-weight: 500;
}

/* Переключатель */
.toggle {
  position: relative;
  display: inline-block;
  width: 3.75rem;
  height: 2.1rem;
}

.toggle input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--general_bg_color);
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: var(--general_red_color);
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
