.delevery_map {
  display: flex;
  flex: 1;
  flex-direction: column;

  border-radius: 20px 0px 0px 20px;
}

#map {
  overflow: hidden;
  height: 100%;
  border-radius: 20px 0px 0px 20px;
}

.delivery_address {
  margin: 1rem;
  flex: 1;
  display: flex;
  flex-direction: column;

}

.full_address {
  display: grid;
  grid-template-columns: 1fr 1fr;

  transition: 0.3s;
  opacity: 1;
  pointer-events: all;
}

.full_address.hide {
  opacity: 0;
  pointer-events: none;
}

.grid_whole {
  grid-column: 1 / 2 span;
}

.grid_half {
  grid-column: 1 span;
}

.pickup,
.input_entrance,
.input_door_code,
.input_floor,
.input_apartment,
.input_city_street_number,
.input_address_comment {
  display: flex;
  user-select: none;
  justify-content: space-between;
  align-items: center;
  border: solid 1px var(--general_border_color);

  color: var(--general_gray_font_color);
  font-weight: 600;

  padding: 0rem 0.5rem;
  height: 4rem;
  margin: 0.5rem 0rem;
  border-radius: 20px;
}

.input_city_street_number:focus,
.input_entrance:focus,
.input_door_code:focus,
.input_floor:focus,
.input_apartment:focus,
.input_address_comment:focus {
  outline: 1px solid var(--general_green_color);
}

.ymaps-2-1-79-search__suggest {
  font-family: var(--general_font);
  color: var(--general_font_color);
  border: 1px solid var(--general_border_color);
  border-radius: 10px; /* Скругление углов */
}

.ymaps-2-1-79-search__suggest-item {
  font-family: var(--general_font);
  color: var(--general_font_color);
}

.ymaps-2-1-79-search__suggest-item:hover {
  background-color: rgba(93, 173, 100, 0.3);
}
