.fixed_navigation {
  position: fixed;
  top: -5rem;
  left: 1rem;

  font-weight: 500;

  user-select: none;
  padding: 0.5rem;

  display: flex;
  flex-direction: column;
  width: 11%;
  /* align-items: center; */
  border-radius: 20px;
  /* border: 1px solid var(--general_border_color); */

  transition: 0.3s;
}

.fixed_navigation.show {
  top: 1rem;
}

.fixed_logo {
  pointer-events: none;
  display: flex;
  opacity: 0;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  margin: 0.5rem;
  transition: 0.1s;

  /* border: 1px solid var(--general_border_color); */
}

.button_open_cart.show,
.fixed_logo.show {
  opacity: 1;
  pointer-events: all;
}

.button_open_cart:hover,
.fixed_logo:hover {
  transform: scale(1.1);
}

.fixed_contacts:hover,
.fixed_promo:hover,
.fixed_pizza:hover,
.fixed_sauce:hover,
.fixed_delivery_zone:hover,
.fixed_about_us:hover,
.fixed_delivery_zone:hover {
  border: 1px solid var(--general_green_color);
  transform: scale(1.1);
}

.fixed_contacts,
.fixed_promo,
.fixed_pizza,
.fixed_sauce,
.fixed_delivery_zone,
.fixed_about_us,
.test {
  display: flex;
  cursor: pointer;

  align-items: center;
  margin: 0.5rem;
  padding: 0rem 1rem;
  flex: 1;
  min-height: 3.8rem;
  max-height: 3.8rem;
  border-radius: 20px;
  border: 1px solid var(--general_border_color);
  transition: 0.1s;
}

.button_open_cart {
  display: flex;
  cursor: pointer;
  justify-content: center;
  align-items: center;

  width: 3.8rem;
  height: 3.8rem;
  margin: 0.5rem;
  border-radius: 20px;
  background-color: var(--general_red_color);

  opacity: 0;
  pointer-events: none;
  transition: 0.3s;
}

.count_cart {
  color: var(--general_red_color);
  font-size: var(--2font_size);
  font-weight: 500;
  position: absolute;
  z-index: 1;
}
