.modal_background {
  cursor: pointer;
  position: fixed; /* фиксированное позиционирование, чтобы элемент занимал весь экран */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6); /* черный цвет с прозрачностью 60% для затемнения */
  z-index: 1000; /* установка z-index на большее значение, чем у других элементов, чтобы занимать поверхность */

  display: flex;
  justify-content: center; /* выравнивание по центру по горизонтали */
  align-items: center; /* выравнивание по центру по вертикали */
}

.modal_delivery_area,
.modal_shopping_cart,
.modal_card {
  position: fixed;
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%);      
  z-index: 1000; 

  display: flex;
  width: 67rem;
  height: 42rem;
  border-radius: 20px;
  background-color: white;
  margin: 1rem;

  transition: all 0.3s ease;
}

.img_modal_card {
  display: flex;
  flex: 2;
  justify-content: center;
  align-content: center;
  object-fit: contain;
  overflow: hidden;
  border-radius: 20px 0px 0px 20px;
}

.description_modal_card {
  display: flex;
  flex: 1;
  flex-direction: column;
  margin: 1rem;
}

.structure_modal_card {
  flex: 1;
  font-size: 2rem;
  font-weight: 600;

}

.weight_modal_card {
  flex: 1;
  color: var(--general_gray_font_color);
}

.compound_modal_card {
  flex: 4;
}