.modal_delivery_area,
.modal_shopping_cart {
  width: 67rem;
  height: 42rem;
  display: flex;
  border-radius: 20px;
  background-color: white;
  margin: 1rem;

  -webkit-box-shadow: 0px 5px 15px 5px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 0px 5px 15px 5px rgba(34, 60, 80, 0.2);
  box-shadow: 0px 5px 15px 5px rgba(34, 60, 80, 0.2);
}

.border {
  border: solid 1px var(--general_border_color);
}

.topic_cart {
  margin: 0rem 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product_list,
.order_registration {
  flex: 1;
  margin: 0.5rem;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
}

.total_product {
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.product {
  display: flex;
  align-items: center;
  margin: 0.5rem;
  font-size: 1.3rem;
  border-bottom: dashed 1px black;
}

.product_name {
  flex: 1;
  font-weight: 600;
}

.product_price {
  font-weight: 600;
  font-size: 1.5rem;
}

.cutlery,
.order_time,
.payment_method,
.phone_number {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: solid 1px var(--general_border_color);
  font-weight: 600;
  font-size: 1.5rem;
  padding: 0rem 0.5rem;
  height: 2.8rem;
  margin: 0.5rem;
  border-radius: 20px;
}
.head_order {
  display: flex;
  align-items: center;
}

#phone_number {
  border: none;
  
  color: var(--general_font_color);
  font-size: 1.5rem;
  font-family: "Courier New", Courier, monospace;
  font-weight: 600;
}

.section_comment_for_the_order {
  display: flex;
  flex-direction: column;
  border: solid 1px var(--general_border_color);
  height: 6rem;
  font-weight: 600;
  font-size: 1.5rem;
  padding: 0rem 0.5rem;
  margin: 0.5rem;
  border-radius: 20px;
}

.comment_for_the_order {
  flex: 1;
  margin: 1px;
  border: none;
  resize: none;
  border-radius: 5px;
  font-family: "Courier New", Courier, monospace;
  font-size: 1.3rem;
  font-weight: 600;
}


.comment_for_the_order:focus,
#phone_number {
  outline: none;
}

.button_place_an_order,
.button_to_cart {
  margin: 0.5rem;
  border-radius: 20px;
  cursor: pointer;
  user-select: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: 1.8rem;
  height: 2.8rem;
  color: white;
  background-color: var(--general_green_color);
}

.button_clear_all {
  border-radius: 20px;
  background-color: var(--general_red_color);
  font-size: 1.8rem;
  color: white;
  font-weight: 600;
  height: 2.8rem;
  width: 12rem;
  cursor: pointer;
  user-select: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button_delete {
  margin: 0.2rem 1rem;
  height: 1.5rem;
  width: 1.5rem;
  cursor: pointer;
  user-select: none;
  border-radius: 50%;
  background-color: var(--general_red_color);
  display: flex;
  align-items: center;
  justify-content: center;
  object-fit: contain;
  overflow: hidden;
}

.remove_button,
.add_button {
  cursor: pointer;
  user-select: none;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.1s;
}

.remove_button:active,
.add_button:active {
  transform: scale(0.8);
}

.button_place_an_order:hover,
.button_to_cart:hover,
.button_clear_all:hover,
.button_delete:hover {
  filter: brightness(90%);
}

.button_place_an_order:active,
.button_to_cart:active,
.button_clear_all:active,
.button_delete:active {
  filter: brightness(80%);
}

.total_cost {
  border: solid 1px var(--general_border_color);

  padding: 0rem 0.5rem;
  margin: 0.5rem;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: 1.8rem;
  height: 2.7rem;
}

.configurate {
  height: 2.1rem;
  width: 8rem;
  background-color: var(--general_bg_color);
  user-select: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  border-radius: 20rem;
}

.count {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  color: var(--general_gray_font_color);
  font-weight: 600;
}
