.delevery_map {
  display: flex;
  flex: 1;
  flex-direction: column;

  border-radius: 20px 0px 0px 20px;
}

#map {
  overflow: hidden;
  height: 100%;
  border-radius: 20px 0px 0px 20px;
}

.delivery_address {
  display: flex;
  flex-direction: column;
  margin: 0.5rem;
}

.full_address {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.grid_whole {
  grid-column: 1 / 2 span;
}

.grid_half {
  grid-column: 1 span;
}

.input_entrance,
.input_door_code,
.input_floor,
.input_apartment,
.input_city_street_number,
.input_address_comment {
  display: flex;
  align-items: center;
  border: solid 1px var(--general_border_color);

  color: var(--general_gray_font_color);
  font-weight: 600;

  padding: 0rem 0.5rem;
  height: 4rem;
  margin: 0.5rem;
  border-radius: 20px;
}

.input_city_street_number:focus,
.input_entrance:focus,
.input_door_code:focus,
.input_floor:focus,
.input_apartment:focus,
.input_address_comment:focus {
  outline: 1px solid var(--general_green_color);
}
