.name {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;

  user-select: none;
  font-size: 5rem;
}

.general {
  /* border: 1px solid black; */
  height: 50rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.HeadGroup {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  border-radius: 10px;
  background-color: var(--general_bg_color);
  padding: 1rem;
  /* border: 1px solid black; */
}

.btn {
  display: flex;
  user-select: none;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0.5rem;

  border-radius: 5px;
  border: 1px solid black;
  width: 14rem;
  height: 2rem;
  font-size: 1.4rem;
  font-weight: 700;
  background-color: var(--general_bg_color);
}

.btn:hover {
  filter: brightness(80%);
}

.btn:active {
  filter: brightness(90%);
}

.stt {
  display: flex;
  background-color: var(--general_red_color);
  cursor: pointer;
  user-select: none;
  border-radius: 0px 10px 10px 0px;
  width: 4rem;
  height: 4rem;
  position: fixed;
  top: 0em;
  left: 1em;
  transform: translateY(-150%);
  animation: ani 1s forwards;
}

.upward {
  transform: translateY(0);
  animation: moveUp 1s forwards;
}

@keyframes moveUp {
  0% {
    transform: translateY(0) rotate(90deg);
  }
  100% {
    transform: translateY(-100%) rotate(90deg);
  }
}

@keyframes ani {
  0% {
    transform: translateY(-150%) rotate(90deg);
  }
  100% {
    transform: translateY(0) rotate(90deg);
  }
}

.stt:hover {
  filter: brightness(80%);
}

.stt:active {
  filter: brightness(90%);
}

.title {
  font-size: 3rem;
}

.section {
  display: flex;
  flex-wrap: wrap;
}


/* Переключатель________________________________ */
.toggle {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.toggle input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--general_bg_color) ;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: var(--general_red_color);
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
/* __________________________________________________ */

