/* Под мобильный телефон */
@media only screen and (max-width: 480px) {
  body {
    margin: 0.4rem;
  }

  :root {
    --1font_size: 0.5rem;
    --2font_size: 0.7rem; /* ОСНОВНОЙ РАЗМЕР */
    --3font_size: 1rem;
    --4font_size: 1.5rem;
  }

  .product_card {
    margin: 0.5rem;

    width: 10rem;
    height: 15rem;
  }

  .button_price_modal_card,
  .button_price_product_card {
    height: 1.8rem;
    margin: 0.5rem 0rem;

    color: white;
    font-weight: 600;
  }

  .button_open_site,
  .button_place_an_order,
  .button_to_cart {
    margin: 0.5rem 0rem;

    height: 1.8rem;
  }

  .modal_contact_info,
  .modal_delivery_area,
  .modal_shopping_cart,
  .modal_card {
    transform: translate(-50%, -60%);

    display: flex;
    flex-direction: column;
    width: 20rem;
    height: 30rem;
  }
}
