.product_card {
  display: flex;
  flex-direction: column;
  margin: 1rem;
  border-radius: 20px;
  border: 1px solid var(--general_border_color);

  width: 20rem;
  height: 27rem;
}

.img_product {
  margin: 0.5rem;
  flex: 2;
  display: flex;
  cursor: pointer;

  overflow: hidden;
  justify-content: center;
  align-items: center;
  align-content: center;

  border-radius: 20px;
  transition: 0.1s;
}


.description_product {
  flex: 1;
  margin: 0rem 0.5rem 0rem;
}

.img_product:hover {
  filter: brightness(110%);
}

.structure_product {
  font-weight: 500;
}

.weight_product {
  font-size: var(--1font_size);
  color: var(--general_gray_font_color);
}

.button_price_modal_card,
.button_price_product_card {
  cursor: pointer;
  user-select: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  border-radius: 20px;

  height: 2.8rem;
  margin: 0.5rem 0rem;

  color: white;
  font-weight: 500;
  font-size: var(--3font_size);
  background-color: var(--general_price_button_color);
}

.button_open_cart:hover,
.button_price_modal_card:hover,
.button_price_product_card:hover {
  filter: brightness(90%);
}

.button_open_cart:active,
.button_price_modal_card:active,
.button_price_product_card:active {
  filter: brightness(80%);
}
