.footer {
  display: flex;
  flex: 1;
  height: 3.5rem;

  color: var(--general_gray_font_color);
  font-size: var(--1font_size);
}

.authorship,
.footer_item {
  user-select: none;
  opacity: 0.6;
  cursor: pointer;
  display: flex;
  align-items: center;
  margin: 0.5rem;
  border-bottom: 1px solid var(--general_border_color);
  transition: 0.3s;
}

.authorship:hover,
.developer:hover,
.footer_item:hover {
  opacity: 1;
  border-bottom: 1px solid var(--general_red_color);
}

.payment_system {
  opacity: 0.5;
  display: flex;
  width: 10rem;
}

.payment_item {
  display: flex;
  margin: 0.5rem;
  transition: 0.3s;
}
.payment_item:hover {
  transform: scale(1.1);
}

.development,
.developer {
  opacity: 0.5;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s;

  color: var(--general_gray_font_color);
}
.developer {
  cursor: pointer;
}
