.modal_card {
  /* display: none;
  position: fixed;
  top: 0rem; */

  display: flex;
  width: 65rem;
  height: 40rem;
  border-radius: 20px;
  background-color: white;

  -webkit-box-shadow: 0px 5px 15px 5px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 0px 5px 15px 5px rgba(34, 60, 80, 0.2);
  box-shadow: 0px 5px 15px 5px rgba(34, 60, 80, 0.2);

  /* border: 1px solid black; */
  margin: 1rem;
}

.img_modal_card {
  display: flex;
  flex: 2;
  justify-content: center;
  align-content: center;
  object-fit: contain;
  overflow: hidden;
  border-radius: 20px 0px 0px 20px;
  /* background-color: rgb(255, 0, 0); */
}

.description_modal_card {
  display: flex;
  flex: 1;
  flex-direction: column;
  margin: 1rem;
  /* background-color: aqua; */
  /* border: 1px solid black; */
}

.structure_modal_card {
  flex: 1;
  font-size: 2rem;
  font-weight: 600;
  /* border: 1px solid black; */
}

.weight_modal_card {
  flex: 1;
  font-size: 1.1rem;
  color: var(--general_gray_font_color);
  /* border: 1px solid black; */
}

.compound_modal_card {
  flex: 4;
  font-size: 1.2rem;
  /* border: 1px solid black; */
}

.price_modal_card {
  cursor: pointer;
  user-select: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 2rem;
  border-radius: 18px;
  font-weight: 600;
  font-size: 1.8rem;
  color: white;
  background-color: var(--general_red_color);

  /* border: 1px solid black; */
}

.price_modal_card:hover {
  filter: brightness(90%);
}

.price_modal_card:active {
  filter: brightness(80%);
}
