@font-face {
  font-family: "general_font";
  src: url("../font/Archerus/Horizon\ Type\ -\ AcherusFeral-Light.otf")
    format("opentype");
}

:root {
  --general_font_color: rgba(0, 0, 0, 0.8);
  --general_bg_color: rgba(128, 128, 128, 0.3);
  --general_gray_font_color: rgb(128, 128, 128);

  --general_red_color: #fc4710;
  --general_green_color: #60b515;

  --general_green2_color: rgb(93, 173, 100);
  --general_red2_color: rgb(230, 93, 81);
  --general_orange_color: #fc4710;
  --general_blue_color: #168ecb;

  --general_border_color: var(--general_bg_color);
  --general_price_button_color: var(--general_red_color);

  --general_font: "general_font";
}

body {
  margin: 10% 13%;
  color: var(--general_font_color);
  font-family: var(--general_font), "Courier New";

  font-size: 1.2rem;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

input {
  color: var(--general_font_color);
  font-family: var(--general_font), "Courier New";

  font-size: 1.2rem;
}

textarea {
  color: var(--general_font_color);
  font-family: var(--general_font), "Courier New";

  font-size: 1.2rem;
}

a {
  text-decoration: none;
  color: inherit;
}

::-webkit-scrollbar {
  width: 4px;
}

/* Цвет внутренней заливки */
::-webkit-scrollbar-track {
  background-color: none;
}

/* Цвет ползунка прокрутки */
::-webkit-scrollbar-thumb {
  background-color: var(--general_red_color);
  border-radius: 10px;
}

/* .product:hover {
    -webkit-box-shadow: 0px 4px 13px -3px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 4px 13px -3px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 4px 13px -3px rgba(34, 60, 80, 0.2);
  } */
