:root {
  --general_bg_color: rgba(128, 128, 128, 0.3);
  --general_gray_font_color: rgb(128, 128, 128);
  --general_red_color: rgb(230, 93, 81);
  --general_green_color: rgb(93, 173, 100);
  --general_border_color:rgba(128, 128, 128, 0.3);

  --general_font_color: rgba(0, 0, 0, 0.8);
  --general_price_button_color: rgba(128, 128, 128, 0.3);
}

body {
  margin: 9rem;
  color: var(--general_font_color);
  font-family: "Courier New", Courier, monospace;
  font-size: 1rem;
}

::-webkit-scrollbar {
  width: 4px; /* Задаем узкую ширину */
}

/* Цвет внутренней заливки */
::-webkit-scrollbar-track {
  background-color: none;
}

/* Цвет ползунка прокрутки */
::-webkit-scrollbar-thumb {
  background-color: var(--general_red_color);
  border-radius: 10px; /* Задаем закругление углов */
}


