.logo {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;

  user-select: none;
}

.title {
  font-size: 3rem;
}

.section {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.modal_window_title {
  user-select: none;
  margin: 1rem 0rem;
  font-size: 3rem;
  font-weight: 600;
  text-align: center;
}


