/* Под мобильный телефон */
@media only screen and (max-width: 480px) {
  body {
    margin: 0.4rem;
  }

  :root {
    --1font_size: 0.6rem;
    --2font_size: 0.8rem; /* ОСНОВНОЙ РАЗМЕР */
    --3font_size: 1rem;
    --4font_size: 1.5rem;
  }

  .product_card {
    margin: 0.5rem;

    width: 10rem;
    height: 15rem;
  }

  .button_price_modal_card,
  .button_price_product_card {
    height: 2.1rem;
  }

  .button_open_site,
  .button_place_an_order,
  .button_to_cart {
    height: 2.1rem;
  }

  .button_clear_order_configurate,
  .button_clear_address,
  .button_clear_all {
    height: 2.1rem;
  }

  .modal_contact_info,
  .modal_delivery_area,
  .modal_shopping_cart,
  .modal_card {
    transform: translate(-50%, -60%);
    overflow: auto;
    display: flex;
    flex-direction: column;
    width: 20rem;
    height: 30rem;
  }

  .short_address,
  .cutlery,
  .order_time,
  .payment_method,
  .phone_number {
    height: 3rem;
  }

  .total_cost {
    min-height: 3rem;
  }
}
