body {
  margin: 9rem;
  font-family: "Courier New", Courier, monospace;
  font-size: 1rem;
}

:root {
  --general_bg_color: rgb(240, 240, 240);
  --general_weight_font_color: rgb(63, 62, 62);
}

.name {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;

  user-select: none;
  font-size: 5rem;
}

.general {
  /* border: 1px solid black; */
  height: 50rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.HeadGroup {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  border-radius: 10px;
  background-color: var(--general_bg_color);
  padding: 1rem;
  /* border: 1px solid black; */
}

.btn {
  display: flex;
  user-select: none;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0.5rem;

  border-radius: 5px;
  border: 1px solid black;
  width: 14rem;
  height: 2rem;
  font-size: 1.4rem;
  font-weight: 700;
  background-color: var(--general_bg_color);
}

.btn:hover {
  filter: brightness(80%);
}

.btn:active {
  filter: brightness(90%);
}

.stt {
  display: flex;
  background-color: var(--general_bg_color);
  cursor: pointer;
  user-select: none;
  border-radius: 0px 10px 10px 0px;
  width: 4rem;
  height: 4rem;
  position: fixed;
  top: 0em;
  left: 1em;
  transform: translateY(-150%);
  animation: ani 1s forwards;
  /* border: 1px solid black; */
}

.upward {
  transform: translateY(0);
  animation: moveUp 1s forwards;
}

@keyframes moveUp {
  0% {
    transform: translateY(0) rotate(90deg);
  }
  100% {
    transform: translateY(-100%) rotate(90deg);
  }
}

@keyframes ani {
  0% {
    transform: translateY(-150%) rotate(90deg);
  }
  100% {
    transform: translateY(0) rotate(90deg);
  }
}

.stt:hover {
  filter: brightness(80%);
}

.stt:active {
  filter: brightness(90%);
}

.title {
  font-size: 3rem;
}

.section {
  display: flex;
  flex-wrap: wrap;
}

.product {
  display: flex;
  flex-direction: column;
  align-content: center;

  width: 20rem;
  height: 28rem;
  margin: 1rem;
  border-radius: 10px;
  /* border: 1px solid black; */
}

/* .product:hover {
  -webkit-box-shadow: 0px 4px 13px -3px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 0px 4px 13px -3px rgba(34, 60, 80, 0.2);
  box-shadow: 0px 4px 13px -3px rgba(34, 60, 80, 0.2);
} */

.description_product {
  margin: 1rem 1rem 0rem;
}

.img_product {
  display: flex;
  justify-content: center;
  align-content: center;
  overflow: hidden;
  width: 20rem;
  height: 20rem;
  border-radius: 20px;
  /* border: 1px solid black; */
}
.structure_product {
  height: 3rem;
  font-size: 1.1rem;
  /* border: 1px solid black; */
}

.weight_product {
  height: 1.5rem;
  font-size: 1rem;
  color: var(--general_weight_font_color) ;
  /* border: 1px solid black; */
}

.price_product {
  cursor: pointer;
  user-select: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  border-radius: 10px;
  width: 5rem;
  height: 2rem;
  /* border: 1px solid black; */
  font-weight: 600;
  font-size: 1.4rem;
  background-color: var(--general_bg_color);
}

.price_product:hover {
  filter: brightness(80%);
}

.price_product:active {
  filter: brightness(90%);
}
